.scoreboard-container {
  margin-top: 5rem;
  display: flex;
  width: 100%;
}

.square-title {
  position: absolute;
  top: 7rem;
  font-size: 18px;
  font-weight: 600;
  left: 1.7rem;
}

.scoreboard-circle {
  display: flex;
}
