nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin: 0.5rem;
}

.nav-link {
  display: flex;
}

#basic-navbar-nav > div > div:nth-child(1) > div > div > a.dropdown-item.active,
#basic-navbar-nav > div > div:nth-child(1) > div > div > a.dropdown-item:focus {
  background: #1dc7ea !important;
}
