nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin: 0.5rem;
}

.nav-link {
  display: flex;
}


